@tailwind base;
@tailwind components;
@tailwind utilities;

img{
    max-height: 100%;
}
input, textarea, select{
    @apply border border-gray-200 rounded-sm px-1 w-full py-2 px-3;
    @apply mb-2;
}
input:focus, textarea:focus, select:focus{
    @apply border-blue-900;
}
h1{
    @apply text-gray-800 mb-4 text-xl;
}
label{
    @apply text-gray-600 text-sm;
}
.btn-primary{
    @apply bg-primary text-white px-4 py-1 rounded-sm shadow-sm;
}
table.basic{
    @apply w-full bg-white rounded-sm shadow-md;
}
table.basic thead tr td,
table.basic thead tr th
{
    @apply text-sm text-gray-600 uppercase border-b border-gray-200 px-4 py-2;
}
table.basic tr td{
    @apply px-4 py-1;
}
table.basic a{
    @apply px-4 rounded-sm inline-flex mx-1 items-center gap-1 text-sm py-1;
}
.btn-default, .btn-red{
    @apply px-4 py-1 rounded-md;
}
.btn-red{
    @apply bg-red-200 text-red-600 px-4 py-1 rounded-sm shadow-sm;
}
.btn-default{
    @apply bg-white text-gray-800 px-4 py-1 rounded-sm border border-gray-200 shadow-sm;
}

.editor {
    border: 1px solid rgba(0, 0, 0, 0.12)
  }
  .editor__content .ProseMirror {
    min-height: 200px;
  }
  .ProseMirror{
    margin: 0 0;
    padding: 5px 15px 5px 15px;
    text-align: left;
  }
  
  .ProseMirror > * + * {
    margin-top: 0px;
  }
  .ProseMirror ul, .ProseMirror ol {
    padding: 0 1rem;
    margin-top: 0.75em;
  }
  .ProseMirror p {
    margin-bottom: 0px;
  }
  
  .ProseMirror p img {
    display: initial;
  }
  
  /*
    Hack for break and next line
    https://github.com/ueberdosis/tiptap/issues/412#issuecomment-593635371
  */
  .ProseMirror p:empty::after{
    content: "\00A0";
  }
  
  .ProseMirror h1, .ProseMirror h2, .ProseMirror h3, .ProseMirror h4 {
    line-height: 1.1;
  }

  .tableWrapper {
    overflow-x: auto;
  }
  .resize-cursor {
    cursor: ew-resize;
    cursor: col-resize;
  }
  ::v-deep .ProseMirror > * + * {
    margin-top: 0.75em;
  }
  
  .ProseMirror ol {
    padding: 0 1rem;
    list-style: decimal !important;
  }
  
  .ProseMirror ul {
    padding: 0 1rem;
    list-style: disc !important;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
  }
  
  h2 {
    font-size: 1.5rem;
    font-weight: 700;
  }
  
  h3 {
    font-size: 1.25rem;
    font-weight: 600;
  }